@import "./variables";

// Body container left/right

@mixin body-container($width) {
  width: $width;
  height: $body-height;
  max-height: $body-height;
  padding: {
    top: 25px;
    bottom: 15px;
  }
  text-align: left;
}

@mixin personal-skill-top {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

@mixin software-bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@mixin software-language-items {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

@mixin right-div-structure {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin p-items-date {
  font-family: inherit;
  font-size: inherit;
  line-height: 17px;
}

@mixin headding-titles {
  font-family: inherit;
  font-weight: 700;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0.1px;
  line-height: 21px;
}
