@import "./scss_modules/variables";
@import "./scss_modules/fonts";
@import "./scss_modules/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;

  body {
    height: 100%;
    font-family: $lato-family;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $normal-font-size;
    background-color: $body-background-color;
  }
}

%containers-left-lists {
  font-family: inherit;
  color: $headding-text-color;
  font-weight: bold;
  font-size: $headding-text-fontSize;
}

%container-left-cover {
  width: 100%;
  height: auto;
  color: $default-text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .container {
  width: $body-width;
  min-width: $body-width;
  max-width: $body-width;
  height: $body-height;
  min-height: $body-height;
  max-height: $body-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body .container .container-left {
  @include body-container(30%);
  div.personal-info {
    @extend %container-left-cover;

    .top {
      @include personal-skill-top;

      ul {
        list-style-type: disc;
        padding-left: 23px;

        li {
          @extend %containers-left-lists;
        }
      }
    }

    .bottom {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .personal-links {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 2px;

        &:first-child {
          margin-top: 0px;
        }

        .personal-links-images {
          margin: {
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 10px;
          }
        }

        .personal-link-text {
          font-family: inherit;
          letter-spacing: 0.2px;
        }
      }
    }
  }

  .skills {
    @extend %container-left-cover;
    margin: {
      top: 20px;
    }

    .skill-top {
      @include personal-skill-top;

      ul {
        list-style-type: disc;
        padding-left: 23px;

        li {
          font-family: inherit;
          color: #0b2f53;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }

    .skill-bottom {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .skills-names {
        font-family: inherit;
        letter-spacing: 0.2px;
        margin-top: 6px;
      }
    }
  }

  .software {
    @extend %container-left-cover;
    margin: {
      top: 20px;
    }

    .software-top {
      @include personal-skill-top;

      ul {
        list-style-type: disc;
        padding-left: 23px;

        li {
          @extend %containers-left-lists;
        }
      }
    }

    .software-bottom {
      @include software-bottom;

      .software-items {
        @include software-language-items;
      }
    }
  }

  .languages {
    @extend %container-left-cover;
    margin: {
      top: 20px;
    }

    .languages-top {
      @include personal-skill-top;

      ul {
        list-style-type: disc;
        padding-left: 23px;

        li {
          @extend %containers-left-lists;
        }
      }
    }

    .languages-bottom {
      @include software-bottom;

      .languages-item {
        @include software-language-items;
      }
    }
  }
}

body .container .container-right {
  @include body-container(65%);

  .header {
    @include right-div-structure;

    .header-top {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .header-top-left {
        margin: {
          right: 15px;
        }

        img.header-image {
          width: 96px;
          border-radius: 50px;
          max-height: 98px;
        }
      }

      .header-top-bottom {
        color: $headding-text-color;

        h2.header-name {
          color: inherit;
          text-transform: capitalize;
          font-weight: normal;
          font-size: 32px;
          letter-spacing: 1px;
        }

        p {
          color: inherit;
          font-weight: 600;
          font-size: 12.6px;
          letter-spacing: 1px;
          text-transform: capitalize;
          line-height: 22px;
          margin-left: 3px;
        }
      }
    }

    .header-bottom {
      width: 100%;
      max-width: 100%;
      margin: {
        top: 12px;
        left: 0px;
        right: 0px;
        bottom: 0px;
      }

      p.career-object {
        font-family: inherit;
        line-height: 20px;
      }
    }
  }

  .expriences {
    @include right-div-structure;
    margin-top: 20px;

    .expriences-top {
      @include personal-skill-top;

      ul {
        list-style-type: disc;
        padding-left: 23px;

        li {
          @extend %containers-left-lists;
        }
      }
    }

    .expriences-bottom {
      width: 100%;
      height: auto;

      .exprience-items {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .items-left {
          width: 16%;

          .items-dates {
            font-family: inherit;
            font-size: inherit;
            line-height: 17px;
          }
        }
        .items-right {
          width: 82%;
          overflow: hidden;

          .items-right-top {
            width: 100%;
            height: auto;
            margin: {
              bottom: 3px;
            }

            .right-top-title {
              font-family: inherit;
              font-weight: 700;
              font-size: 15px;
              text-transform: capitalize;
              letter-spacing: 0.1px;
              line-height: 21px;
            }

            p.address {
              font-family: inherit;
              line-height: 15px;
            }
          }

          .items-right-bottom {
            width: 100%;
            overflow: hidden;

            ul {
              list-style-type: disc;
              margin-left: 15px;

              li {
                font-family: inherit;
                font-size: inherit;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }

  .technicalProficiency {
    @include right-div-structure;
    margin-top: 20px;

    .technical-proficiency-top {
      @include personal-skill-top;

      ul {
        list-style-type: disc;
        padding-left: 23px;

        li {
          @extend %containers-left-lists;
        }
      }
    }

    .technical-proficiency-bottom {
      width: 100%;
      height: auto;

      .technical-items {
        margin: {
          left: 20px;
        }

        ul {
          list-style-type: disc;

          li {
            color: inherit;
            line-height: 18px;
          }
        }
      }
    }
  }
}
