@import "./scss_modules/variables";
@import "./scss_modules/fonts";
@import "./scss_modules/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;

  body {
    height: 100%;
    font-family: $lato-family;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

body .container {
  width: $body-width;
  min-width: $body-width;
  max-width: $body-width;
  height: $body-height;
  min-height: $body-height;
  max-height: $body-height;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

body .container .container-left {
  @include body-container(30%);
}

body .container .container-right {
  @include body-container(65%);
}
